<section class="py-0">
    <div class="container-small">
        <div class="ecommerce-topbar">
            <nav class="navbar navbar-expand-lg navbar-light px-0">
                <div class="row gx-0 gy-2 w-100 flex-between-center">
                    <div class="col-auto">
                        <a class="text-decoration-none">
                            <div class="d-flex align-items-center">
                                <img src="assets/img/icons/logo.png" alt="phoenix" width="27" />
                                <h5 class="logo-text ms-2">Xhabitat</h5>
                            </div>
                        </a>
                    </div>

                    @if (isAuthenticated()) {
                        <div class="col-auto order-md-1">
                            <ul class="navbar-nav navbar-nav-icons flex-row me-n2">
                                <li class="nav-item dropdown">
                                    <a class="nav-link px-2" id="navbarDropdownUser" href="#" role="button"
                                        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true"
                                        aria-expanded="false">
                                        <i class="uil uil-user text-body-tertiary" style="font-size:20px;"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border mt-2"
                                        aria-labelledby="navbarDropdownUser">
                                        <div class="card position-relative border-0">
                                            <div class="card-body p-0">
                                                <div class="text-center pt-4 pb-3">
                                                    <div class="avatar avatar-xl ">
                                                        <img class="rounded-circle " src="assets/img/bg/real-estate-01.jpg"
                                                            alt="" />
                                                    </div>
                                                    <h6 class="mt-2 text-body-emphasis">Jerry Seinfield</h6>
                                                </div>
                                            </div>
                                            <div class="overflow-auto scrollbar" style="height: 10rem;">
                                                <ul class="nav d-flex flex-column mb-2 pb-1">
                                                    <li class="nav-item">
                                                        <a class="nav-link px-3 d-block" routerLink="/tableau-de-bord">
                                                            <span class="me-2 text-body align-bottom"data-feather="user"></span>
                                                            <span>Tableau de bord</span>
                                                        </a>
                                                    </li>



                                                    <li class="nav-item"><a class="nav-link px-3 d-block" href="#!">
                                                            <span class="me-2 text-body align-bottom"
                                                                data-feather="user"></span><span>Profile</span></a></li>
                                                    <li class="nav-item"><a class="nav-link px-3 d-block"
                                                            href="#!"><span class="me-2 text-body align-bottom"
                                                                data-feather="pie-chart"></span>Dashboard</a></li>
                                                    <li class="nav-item"><a class="nav-link px-3 d-block" href="#!">
                                                            <span class="me-2 text-body align-bottom"
                                                                data-feather="lock"></span>Posts &amp; Activity</a></li>
                                                </ul>
                                            </div>
                                            <div class="card-footer p-0 border-top border-translucent">
                                                <!-- <ul class="nav d-flex flex-column my-3">
                                                    <li class="nav-item"><a class="nav-link px-3 d-block" href="#!">
                                                            <span class="me-2 text-body align-bottom"
                                                                data-feather="user-plus"></span>Add another account</a>
                                                    </li>
                                                </ul> -->
                                                <hr />
                                                <div class="px-3 mb-2"> 
                                                    <a  (click)="deconnexion()" class="btn btn-phoenix-secondary d-flex flex-center w-100"> 
                                                        <span class="me-2" data-feather="log-out">
                                                        </span>Se déconnecter
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }


                    <!-- <div class="col-12 col-md-6">
                        <div class="search-box ecommerce-search-box w-100">
                            <form class="position-relative">
                                <input class="form-control search-input search form-control-sm" type="search"
                                    placeholder="Searlch" aria-label="Search" />
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                        </div>
                    </div> -->
                </div>
            </nav>
        </div>
    </div>
</section>

<nav class="ecommerce-navbar navbar navbar-expand-lg navbar-light bg-body-emphasis">
    <div class="container-small">
        <!-- Bouton hamburger -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- MENU -->
        <div class="collapse navbar-collapse justify-content-between" id="mainNavbar">
            <!-- NAV LINKS -->
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/home"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }">
                        Accueil
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/liste-des-annonces"
                        routerLinkActive="active">
                        Voir toutes les annonces
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/contact"
                        routerLinkActive="active">
                        Contact
                    </a>
                </li>

                @if (!isAuthenticated()) {
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/inscription" routerLinkActive="active">
                            Créer un compte / Se connecter
                        </a>
                    </li>
                }

                @if (isAuthenticated()) {
                    <li class="nav-item">
                        <a class="nav-link logout-link" (click)="deconnexion()">
                        <i class="uil uil-sign-out-alt me-2"></i>
                        Se déconnecter
                        </a>
                    </li>
                }

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fw-bold" href="#" data-bs-toggle="dropdown">
                    More
                    </a>
                    <div class="dropdown-menu dropdown-menu-end"></div>
                </li> -->

            </ul>
        </div>
    </div>
</nav>