.nav-link.active {
  font-weight: 600;
  color: #0d6efd !important;
  border-bottom: 2px solid #0d6efd;
}

.nav-link {
  cursor: pointer;
}

.logout-link {
  color: #dc3545 !important;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: #c82333 !important;
    text-decoration: underline;
  }

  i {
    font-size: 18px;
    vertical-align: middle;
  }
}